body {
    background-color: #DEF4F3;
}

div.sorttocenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFE194;
    margin: 0, 0, 0, 0;
    padding: auto auto auto auto;
    width:100%;
}

div.titleDiv {
    text-align: center;
    padding: auto auto auto auto;
    height: 100px;
}

div.title {
    padding: auto 0 auto 0;
    margin: auto 0 auto 0;
}

div.SearchField {
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DEF4F2;
}

div.pageselector {
    height: 100px;
    background-color: DEF4F2;
    display:flex;
    justify-content: center;
}

div.cardField {
    display:flex;
    justify-content: center;
    background-color: #DEF4F2;
    padding-bottom: 100px;
    padding-right: 150px;
}

div.cardsort {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.additional {
    background-color: green;
    position: fixed;
    display: flex;
    right: 0;
    top : 100;
    margin-left: auto;
    flex-direction: column;
}

button.cardbutton{
    background-color: transparent;
    border-color: transparent;
}

img.movieimg {
    width:100%;
    border-radius: 15px;
}

h5.card-title {
    border-bottom: 3px solid black;
}

p.card-vote {
    border-top: 3px solid black;
}

div.card{
    width:22%;
    text-align: center;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    background-color: #FFE4C4;
}

